body {
  padding: 0;
  margin: 0;
  background-color: #efefef;
}

/*Desktop Navigation*/
.desktop-nav {
  display: flex;
}
.desktop-nav .right-nav {
  display: flex;
  margin: auto;
}
.desktop-nav .right-nav h2 {
  font-family: "Solway", serif;
  font-size: 1em;
  padding: 15% 25%;
  font-weight: 100;
}
@media only screen and (min-width: 512px) and (max-width: 1000px) {
  .desktop-nav .right-nav h2 {
    font-size: 2.5em;
    padding: 10% 15%;
  }
}
@media only screen and (max-width: 512px) {
  .desktop-nav .right-nav h2 {
    font-size: 2.5em;
    padding: 10% 15%;
  }
}
.desktop-nav .right-nav h2:hover {
  color: grey;
  cursor: pointer;
}
.desktop-nav .left-nav {
  margin: auto;
  margin-left: 10%;
  padding: 2%;
  width: 30%;
}
.desktop-nav .left-nav h1 {
  font-family: "Playfair Display", serif;
}
@media only screen and (min-width: 512px) and (max-width: 1000px) {
  .desktop-nav .left-nav h1 {
    font-size: 4em;
  }
}
@media only screen and (max-width: 512px) {
  .desktop-nav .left-nav h1 {
    font-size: 4em;
  }
}
.desktop-nav .left-nav small {
  font-family: "Roboto Slab", serif;
  color: grey;
  font-weight: 100;
  font-size: 1em;
}
@media only screen and (min-width: 512px) and (max-width: 1000px) {
  .desktop-nav .left-nav small {
    font-size: 2em;
    width: 200px;
  }
}
@media only screen and (max-width: 512px) {
  .desktop-nav .left-nav small {
    font-size: 2em;
    width: 200px;
  }
}

/*Landing Content*/
#landing-text {
  margin-left: 25%;
  margin-top: 10%;
}
@media only screen and (min-width: 512px) and (max-width: 1000px) {
  #landing-text {
    margin-left: 10%;
    margin-right: 10%;
  }
}
@media only screen and (max-width: 512px) {
  #landing-text {
    margin-left: 10%;
    margin-right: 10%;
  }
}
#landing-text h1 {
  font-family: "Playfair Display", serif;
  font-size: 3em;
}
@media only screen and (min-width: 512px) and (max-width: 1000px) {
  #landing-text h1 {
    font-size: 4em;
  }
}
@media only screen and (max-width: 512px) {
  #landing-text h1 {
    font-size: 4em;
  }
}
#landing-text small {
  font-family: "Roboto Slab", serif;
  font-size: 1.5em;
  font-weight: 100;
  color: grey;
}
@media only screen and (min-width: 512px) and (max-width: 1000px) {
  #landing-text small {
    font-size: 1.5em;
  }
}
@media only screen and (max-width: 512px) {
  #landing-text small {
    font-size: 1.5em;
  }
}

#navigate-projects {
  position: fixed;
  margin-top: -10%;
  margin-left: 5%;
}
@media only screen and (min-width: 512px) and (max-width: 1000px) {
  #navigate-projects {
    display: none;
  }
}
@media only screen and (max-width: 512px) {
  #navigate-projects {
    display: none;
  }
}
#navigate-projects a {
  text-decoration: none;
}
#navigate-projects h1 {
  font-family: "Roboto Slab", serif;
  font-size: 0.9vw;
  color: grey;
  width: 120%;
  margin-bottom: 1em;
  margin-top: 1em;
}
#navigate-projects h1:hover {
  color: black;
  cursor: pointer;
  transition: 1s;
}
#navigate-projects .vertical-line {
  width: 2px;
  height: 50px;
  border-radius: 20px;
  background-color: grey;
  margin-left: 20%;
}

/*Cards Area*/
#cards-area {
  display: flex;
  flex-wrap: wrap;
  margin-left: 15%;
  margin-right: 5%;
  margin-top: 10%;
  justify-content: space-between;
}
@media only screen and (min-width: 512px) and (max-width: 1000px) {
  #cards-area {
    margin-left: 5%;
  }
}
@media only screen and (max-width: 512px) {
  #cards-area {
    margin-left: 5%;
  }
}
#cards-area .card {
  background-color: white;
  box-shadow: 5px 5px 10px #d9d9d9;
  width: 100%;
  margin: 5%;
  background-size: 50% 50%;
  background-position: center;
  background-repeat: no-repeat;
  text-align: left;
  display: flex;
}
@media only screen and (min-width: 512px) and (max-width: 1000px) {
  #cards-area .card {
    display: block;
  }
}
@media only screen and (max-width: 512px) {
  #cards-area .card {
    display: block;
  }
}
#cards-area .card img {
  margin: auto;
  padding: 5%;
  width: 20%;
}
@media only screen and (min-width: 512px) and (max-width: 1000px) {
  #cards-area .card img {
    width: 70%;
    padding: 15%;
  }
}
@media only screen and (max-width: 512px) {
  #cards-area .card img {
    width: 70%;
    padding: 15%;
  }
}
#cards-area .card div {
  width: 50%;
  padding: 5%;
  padding-left: 8%;
}
@media only screen and (min-width: 512px) and (max-width: 1000px) {
  #cards-area .card div {
    width: 85%;
  }
}
@media only screen and (max-width: 512px) {
  #cards-area .card div {
    width: 85%;
  }
}
#cards-area .card div h1 {
  text-align: left;
  font-family: "Playfair Display", serif;
}
@media only screen and (min-width: 512px) and (max-width: 1000px) {
  #cards-area .card div h1 {
    font-size: 6em;
  }
}
@media only screen and (max-width: 512px) {
  #cards-area .card div h1 {
    font-size: 6em;
  }
}
#cards-area .card div small {
  text-align: left;
  font-family: "Roboto Slab", serif;
  color: grey;
}
@media only screen and (min-width: 512px) and (max-width: 1000px) {
  #cards-area .card div small {
    font-size: 2em;
  }
}
@media only screen and (max-width: 512px) {
  #cards-area .card div small {
    font-size: 2em;
  }
}
#cards-area .card div p {
  margin-top: 5%;
  line-height: 200%;
  text-align: left;
  color: #474747;
  font-family: "Roboto Slab", serif;
}
@media only screen and (min-width: 512px) and (max-width: 1000px) {
  #cards-area .card div p {
    font-size: 2em;
  }
}
@media only screen and (max-width: 512px) {
  #cards-area .card div p {
    font-size: 2em;
  }
}

/*# sourceMappingURL=styles.css.map */
